
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
}

.container {
    width: 43%;
  text-align: center;
  background-color: rgb(64,156,141);
  padding: 5%;
  margin: auto;
  height: 590px;
  
}

.container .label-control {
    text-align: left;
    margin: auto;
    padding: 7px;
}

.input-control {
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.label-box .submit-btn{
    width: 100%;
    padding: 2%;
    margin: 25px 0px;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: rgb(62, 240, 77);
    cursor: pointer;
    
}

.submit-btn:hover{
    background-color: yellow;
}

.h1 { 
    font-family: Arial,Helvetica,sans-serif; 
    text-align: center;
    color: rgb(15, 15, 15);
    background-color: rgb(64,156,141,0.7);
    width: 40%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    
}

.row .sign-up{
    width: 100%;
    padding: 1.5%;
    margin: auto;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: rgb(62, 240, 77);
    cursor: pointer;
}
.sign-up:hover{
    background-color: yellow;
}

form i {
    margin-left: -28px;
    cursor: pointer;
    color: black;
}

.full-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hidden{
    display: none;
}