
.container {
    width: 43%;
  text-align: center;
  background-color: rgb(64,156,141);;
  padding: 4%;
  margin: auto;
  height: 620px;
}

.container .label-control {
    text-align: left;
    margin: auto;
    padding: 7px;
}

.input-control {
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.label-box .submit-btn{
    width: 100%;
    padding: 2%;
    margin: 25px 0px;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: rgb(62, 240, 77);
    cursor: pointer;
    
}

.submit-btn:hover{
    background-color: yellow;
}

body{
    background-color: black;
    font-family: 'Lato', sans-serif;
}

form i {
    margin-left: -28px;
    cursor: pointer;
    color: black;
}

.hidden{
    display: none;
}

.full-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.show-msg{
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
}